/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../liferay/liferay.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin qbicmainportlet {
  /* Include all the styles from the reindeer theme */
  @include liferay;

  /* Insert your theme rules here */
  
  /*Font size changed so that the fonts in the TreeView and ComponentViews, e.g. SpaceView and Tables are bigger.*/
 .v-widget {
  	font-size: 13px;
  }
  .v-caption {
  	font-size: 16px;
  }
  .v-table-caption-container {
  	font-size: 15px;
  }
  .v-panel-caption{
  	font-size: 16px;
  }
  
}
