
// Import valo after setting the parameters
@import "../valo/valo";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin qbicmainportlet {
  /* Include all the styles from the reindeer theme */
 @include valo;

  /* Insert your theme rules here */
  
  /*Font size changed so that the fonts in the TreeView and ComponentViews, e.g. SpaceView and Tables are bigger.*/
 .v-widget {
  	font-size: 13px;
  }
  .v-caption {
  	font-size: 16px;
  }
  .v-table-caption-container {
  	font-size: 15px;
  }
  .v-panel-caption{
  	font-size: 16px;
  }
 .no-user-login .v-link .v-icon{
      height: 100px;
      width: 100px;
 }
}
